/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  /* CSS HEX */
  --cadet-blue-crayola: #a1a6b4ff;
  --paradise-pink: #ed4d6eff;
  --cultured: #f8f8f8ff;
  --emerald: #2dd881ff;
  --oxford-blue: #0d2c54ff;

  /* CSS HSL */
  --cadet-blue-crayola: hsla(224, 11%, 67%, 1);
  --paradise-pink: hsla(348, 82%, 62%, 1);
  --cultured: hsla(0, 0%, 97%, 1);
  --emerald: hsla(149, 69%, 51%, 1);
  --oxford-blue: hsla(214, 73%, 19%, 1);

  border-radius: 6px;
}

.container {
  padding: 8px;
  border: 3px solid var(--oxford-blue);
}

header {
  font-size: 25px;
  padding: 0px 8px;
  padding-bottom: 8px;
  margin-bottom: 31px;
  border-bottom: 5px solid var(--oxford-blue);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 26px);
  border-radius: 0px;
  font-family: "Montserrat", sans-serif;
  color: var(--cultured);
  font-size: 25px;
}

p {
  font-size: 20px;
  margin: 13px 0px;
  padding: 8px;
  color: black;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background: var(--oxford-blue) !important;
  color: var(--cultured) !important;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
